<div class="container py-3">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="py-2">
        <label for="username">Username: </label>
        <input type="text" class="form-control" id="username" formControlName="username" autocomplete="off" />
      </div>
      <div class="py-2">
        <label for="password">Password: </label>
        <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off" />
      </div>
      <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="float-end">
        <button [routerLink]="['/']" class="btn btn-outline-danger me-2 mt-3" type="button">
          Close
        </button>
        <button class="btn btn-success mt-3" type="submit">Register</button>
      </div>
    </form>
  </main>
</div>
