<div class="container py-3">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="add_event_form" (ngSubmit)="onSubmit()">
      <div class="py-2">
        <span class="mb-3">Title: </span>
        <input
          type="text"
          class="form-control"
          id="eventTitle"
          autocomplete="off"
          [class.is-invalid]="title.invalid && title.touched"
          [class.is-valid]="title.valid && title.touched"
          formControlName="title"
        />
        <div *ngIf="title?.invalid && title?.touched" class="invalid-feedback text-danger py-2">
          <div *ngIf="title?.errors?.['required']">Title is required</div>
          <div *ngIf="title?.errors?.['minlength']">Title length should not be below 5 characters</div>
          <div *ngIf="title?.errors?.['maxlength']">Title should not exceed 150 characters</div>
        </div>
      </div>
      <div class="py-2">
        <label for="eventCategory">Category: </label>
        <select
          class="form-select"
          id="eventCategory"
          autocomplete="off"
          [class.is-invalid]="categoryId.invalid && categoryId.touched"
          [class.is-valid]="categoryId.valid && categoryId.touched"
          formControlName="categoryId"
        >
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <div *ngIf="categoryId?.invalid && categoryId?.touched" class="invalid-feedback text-danger">
          <div *ngIf="categoryId?.errors?.['required']">Category is required</div>
        </div>
      </div>
      <div class="py-2">
        <label for="eventDateTime">Date and Time: </label>
        <input
          type="datetime-local"
          class="form-control"
          id="eventDateTime"
          autocomplete="off"
          [class.is-invalid]="dateTime.invalid && dateTime.touched"
          [class.is-valid]="dateTime.valid && dateTime.touched"
          formControlName="dateTime"
        />
        <div *ngIf="dateTime?.invalid && dateTime?.touched" class="invalid-feedback text-danger">
          <div *ngIf="dateTime?.errors?.['required']">Date and Time are required</div>
        </div>
      </div>
      <div class="py-2">
        <label for="eventLocation">Location: </label>
        <input
          type="text"
          class="form-control"
          id="eventLocation"
          formControlName="location"
          autocomplete="off"
          [class.is-invalid]="location.invalid && location.touched"
          [class.is-valid]="location.valid && location.touched"
        />
        <div *ngIf="location?.invalid && location?.touched" class="invalid-feedback text-danger">
          <div *ngIf="location?.errors?.['required']">Location is required</div>
        </div>
      </div>
      <div class="py-2">
        <label for="eventUser">User: </label>
        <select
          class="form-select"
          id="eventUser"
          formControlName="userId"
          autocomplete="off"
          [class.is-invalid]="userId.invalid && userId.touched"
          [class.is-valid]="userId.valid && userId.touched"
        >
          <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
        </select>
        <div *ngIf="userId?.invalid && userId?.touched" class="invalid-feedback text-danger">
          <div *ngIf="userId?.errors?.['required']">User is required</div>
        </div>
      </div>
      <div class="float-end">
        <button [routerLink]="['/']" class="btn btn-outline-danger me-2 mt-3" type="button">
          Close
        </button>
        <button class="btn btn-success mt-3" type="submit">
          Submit
        </button>
      </div>
    </form>
  </main>
</div>
